[Basic]
url = 
page = 
api_mode = web
dfn = 8K 超高清,4K 超清,1080P 高码率,1080P 高清,720P 高清
encoding = hevc,av1,avc

[Download]
interactive = False
only_info = False
show_all = False
hide_streams = False
mt = True
use_aria2 = False
video_only = False
audio_only = False
danmaku_only = False
sub_only = False
cover_only = False
download_danmaku = False
skip_subtitle = False
skip_cover = False
skip_mux = False
skip_ai = True
use_mp4box = False
video_ascending = False
audio_ascending = False
allow_pcdn = False
force_http = True
save_archives = False
force_replace_host = True
debug = False

[File]
work_dir = 
file_pattern = <videoTitle>
multi_file_pattern = <videoTitle>/[P<pageNumberWithZero>]<pageTitle>
language = 

[Auth]
cookie = 
token = 

[Tool]
ffmpeg_path = 
mp4box_path = 
config_file = 

[Aria2c]
aria2c_path = 
x = 16
s = 16
j = 16
k = 5M
args = 

[Network]
upos_host = 
host = 
ep_host = 
area = 
delay = 
ua = 

